@use "../../../styles/sass/abstracts/mixins";
@use "../../../styles/sass/abstracts/colors";
@use "../../../styles/sass/abstracts/variables";
@use "../../../styles/sass/base/typography";

.navbar {
  &__container {
    height: 3rem;
    background-color: colors.$tertiary-light;
    & > button {
      width: 5rem;
      aspect-ratio: 1/1;
      @include mixins.border-with-radius;
      font-size: typography.$font-size-lg;
    }
  }
}

.navbar__datepicker {
  & > div:nth-of-type(2) {
    & > div > div > div > div > div > div > div > div:nth-of-type(2) {
      & > div:nth-of-type(3) {
        background-color: orange;
      }
    }
  }
}
