@use "../../../styles/sass/abstracts/mixins";
@use "../../../styles/sass/abstracts/colors";
@use "../../../styles/sass/abstracts/variables";
@use "../../../styles/sass/base/typography";

.event-manager {
  &__container {
    height: 100vh;
    display: grid;
    justify-items: center;
    background-color: colors.$tertiary-light;
  }
  &__chest-button {
  }
  &__form {
    padding: 2rem;
    background-color: colors.$tertiary-light;
    display: grid;
    gap: 1.5rem;
    justify-items: center;
    color: colors.$primary-light;
    & * {
      gap: 1.5rem;
    }
    & label,
    div {
      width: 100%;
      display: grid;
      justify-items: center;
      & > input:not([type="checkbox"]),
      > textarea,
      > select {
        padding: 1rem;
        width: 100%;
        @include mixins.border-with-radius();
        color: colors.$secondary-light;
      }
    }
    & > div {
      padding: 1rem;
      @include mixins.border-with-radius();
    }
    &__name-and-description {
    }
    &__img-n-input {
      width: 100%;
      grid-row: 1;
      display: grid;
      row-gap: 1.5rem;
      grid-template-columns: repeat(2, 1fr);
      & > div {
        position: relative;
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 2rem 2rem 0 0;
        overflow: hidden;
      }
    }

    &__props-by-time-dependancy {
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      & > :first-child {
        grid-column: 1 / -1;
      }
    }
    &__has-deadline {
    }
    &__add-ons {
    }
    &__needs-fulfilled {
    }
    &__vocal-notifications {
    }

    &__temporary-JSON-visualisation {
      font-size: typography.$font-size-xs;
    }
  }
}
