@use "../../../styles/sass/abstracts/mixins";
@use "../../../styles/sass/abstracts/colors";
@use "../../../styles/sass/abstracts/variables";
@use "../../../styles/sass/base/typography";

.modal {
  // no "container" subclass, since "modal" is a build in class name into the <dialog> hmtl elmement
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 8rem 0;
  width: 100%;
  height: 80vh;
  overflow: scroll;
  display: grid;
  background-color: colors.$tertiary-light;
  &__content {
    &__close-btn {
    }
  }
}
